<% content_for :title do %>
    Activities
<% end %>

<h2>Activities List</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Limit</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @activities.each do |activity| %>
        <tr>
            <td><%= link_to activity.name, activity %></td>
            <td><%= activity.description %></td>
            <td><%= activity.limit %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Destroy', activity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<div class="buttons">
    <%= link_to "New Activity", new_activity_path, :class => 'btn btn-primary' %>
</div>
